<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Juilliet TaskList</title>

 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="data analysis and visualization, sociology and criminology statistical tests">
 <meta name="keywords" content="data analysis and visualization, sociology and criminology statistical tests">
 <meta name="author" content="Thomas M Maestas">  
  </head>
<body>
    <h2>bonjour, c'est juillet! </h2>
</body>
</html>