<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Juilliet TaskList</title>

 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="description" content="data analysis and visualization, sociology and criminology statistical tests">
 <meta name="keywords" content="data analysis and visualization, sociology and criminology statistical tests">
 <meta name="author" content="Thomas M Maestas"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
 <title>&nbsp;&nbsp;T&nbsp;&nbsp; M&nbsp;&nbsp; M</title>  

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/tether/dist/js/tether.min.js"></script>
<script src="dist/js/toolkit.min.js"></script> 
<script src="dist/js/application.min.js"></script>
<script src="dist/js/tmm.min.js"></script> 
<script src="http://d3js.org/d3.v3.min.js"></script> 
<!--
<script type="text/javascript">  
function draw(geo_data) {
 "use strict";
 var margin = 5,
 width = 500 - margin,
 height = 300 - margin; 
 d3.select(".map")
 .attr('text-align', 'center')
 .attr('max-width', '100%')
 .attr('max-height', '100%')
 .attr('margin', '0px');
  d3.select("body").transition()
 .duration(2000)
 .delay(100)
 .style("background-color", "#00d9f9");
 var svg = d3.select(".map")
 .append("svg")
 .attr("width", width + margin)
 .attr("height", height + margin) 
 .append('g')
 .attr('class', 'map'); 
 var projection = d3.geo.mercator()
 .scale(100)
 .translate([width / 2, height / 1.2]); 
 var path = d3.geo.path().projection(projection); 
 var map = svg.selectAll('path')
 .data(geo_data.features)
 .enter()
.append('path')
 .attr('d', path)
 .style('fill', 'transparent')
 .style('stroke', 'white')
 .style('stroke-width', 0.5); 
 };
 </script><nb></nb>
<script type="text/javascript"> 
var inputString = ""; 
function updateString(value) { 
 inputString += value; 
 document.forms[1].input.value = inputString; 
} 
</script> 
-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap.css"  rel="stylesheet">     
<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
<link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css"/> 
</head> 
<body>
<div class="container-fluid">
 <h1>Bonjour a tout le monde!! C'est Juillet 27, 2017</h1>
</div>

<div class="growl" id="app-growl"></div>
<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse bg-primary app-navbar">
  <button
    class="navbar-toggler navbar-toggler-right hidden-md-up"
    type="button"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="index.html">
    <img src="image/TMMblueTrans.png" alt="" width="100" class="tmm"/>
  </a>

 <div class="collapse navbar-collapse multi_drop_menu main" id="navbarResponsive">
 <ul class="navbar-nav mr-auto">
 <li class="nav-item active"><a class="nav-link" >Profile</a>
<ul>
<li><a href="profile/tmaestas_resume.html" target="_blank">CV-english</a></li>
<li><a href="docs/docu/MaestasThomas_CV2017_fr.pdf" target="_blank">CV-français</a></li>
<li><a href="http://hdl.handle.net/1928/31677" target="_blank">Education Thesis</a></li>
<li><a href="docs/docu/DataPresentADD_health_networks.pdf" target="_blank">Education Data Analysis R-LaTeX</a></li>
<li><a href="docs/docu/ADAHighSchoolNetworks.html" target="_blank">Education Data Analysis R-3.3</a></li>
<li><a href="docs/poli/edregression.htm" target="_blank">Education Data Analysis SPSS-24</a></li>
<li><a href="https://public.tableau.com/profile/thomas.milton.maestas#!/vizhome/CarbonFootprint_1/C02NationTime" target="_blank">Environment Data Analysis Tableau</a></li>
<li><a href="d3/arc.html" > Data Visualization D3.js</a></li>
 </ul>
 </li> 

<li class="nav-item active">
<a class="nav-link"  >Conferences</a>
<ul>
<li><a href="http://tinyurl.com/gmtj4v4" target="_blank" style="width:350px;" ><span> 
"Great Expectations Deferred: Contextualizing Community College Transfer Intentions"<br /> </span>2016 ASA-American Sociological Conference<br />@Seattle, WA</a>
</li>
<li>
<a href="http://hscmediasite.unm.edu/unm/Catalog/Full/6a7e058c7810440197da72484269d86c21/?state=JPIHdhLtVxTxyQQ2QHuG"
 target="_blank" style="width:350px;"><span> "Social Determinants of Healthy Aging"<br /> 
 </span>Dec 2015 UNM Health Sciences Institute for Ethics Colloquium<br />@Albuquerque, NM</a>
 </li>
 <li><a href="http://tinyurl.com/pcq6mjx"
 target="_blank" style="width:350px;"><span> "The Effects of Peer Association on Adolescents' Graduation Outcomes: An HLM Approach" <br /> </span>2015 ASA Conference<br />@Chicago, Illinois</a>
 </li>
 <li><a href="http://www.cpc.unc.edu/projects/addhealth/events/20140613AddHealthUsersConferenceAbstracts.pdf" 
 target="_blank" style="width:350px;" ><span> 
 "Great Expectations: A Study on the Determinants of College Graduation Expectations"<br /> 
 2014 NIH-UNC Adolescent Health Data Users Conference, Session 6<br /> @Bethesda, Maryland
 </span></a>
 </li>
 </ul></li>


 <li class="nav-item active"><a class="nav-link" >API</a>
<ul>
<li  style="z-index:1;"><a href="docs/php/weatherAPI.php" >Weather-Map API</a></li>
<li><a href="docs/d3/planet.html">Planets</a></li>
	<li  ><a href="docs/d3/mobilesuits.html">Mobile Law Suits</a></li>
	<li style="z-index:2"><a href="docs/d3/color.html">Colors</a></li>
	<li style="z-index:2"><a href="docs/d3/flow.html">Flow</a></li>
	<li style="z-index:2"><a href="docs/d3/dendrogram.html">Dendrogram</a></li>
	<li style="z-index:2"><a href="docs/d3/alphabet.html">Alphabet Graph</a></li>    
    <li style="z-index:2"><a href="docs/d3/globe_update.html">World Cup Map</a></li> 
 </ul>
 </li>     
  
<li class="nav-item active"><a  class="nav-link"><span class="caret">Coding &nbsp;&nbsp;</span> <br /></a>

 
<ul><li style="z-index:100;"><a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Web &nbsp;&nbsp;<span class "caret"></a>
<ul>
<li style="z-index:100;"><a href="http://webreference.com/" target="_blank">Web Reference</a></li>
<li><a href="https://developer.mozilla.org" target="_blank">Mozilla Dev</a></li>
<li><a href="http://support.google.com/webmasters/?hl=en" target="_blank">Google Dev</a></li>
<li><a href="http://developer.yahoo.com/" target="_blank">Yahoo! Dev</a></li>
<li><a href="http://www.w3schools.com" target="_blank">W3 schools</a></li> 
<li><a href="http://www.w3.org/" target="_blank">World Wide Web Consortium</a></li> 
<li><a href="https://www.icann.org" target="_blank">ICANN</a></li>
</ul></li>

<li style="z-index:98.2;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> D3 tools &nbsp;&nbsp;<span class="caret"></span></a>
<ul class="dropdown-menu">
<li style="z-index:98" ><a href="http://d3js.org" target="_blank">D3js</a></li> 
<li style="z-index:98.5" ><a href="https://github.com/d3/d3-3.x-api-reference/blob/master/API-Reference.md">d3.v3</a></li>
<li style="z-index:98.5" ><a href="https://chartio.com/" target="_blank">chartio</a></li>
<li style="z-index:98.5" ><a href="http://code.shutterstock.com/rickshaw/" target="_blank">rickshaw</a></li>
<li style="z-index:98.5" ><a href="http://rawgraphs.io/" target="_blank">rawgraphs.io </a></li>
<li style="z-index:98.5" ><a href="http://dimplejs.org" target="_blank">dimplejs</a></li>
<li style="z-index:98.5" ><a href="http://nvd3.org/" target="_blank">nvd3</a></li>
<li style="z-index:98.5" ><a href="https://developer.mozilla.org/en-US/docs/Web/SVG" target="_blank">SVG</a></li>
<li style="z-index:98.5" ><a href="https://www.khronos.org/webgl/" target="_blank">WebGL</a></li>
<li style="z-index:98.5" ><a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API" target="_blank">Canvas</a></li>
<li style="z-index:98.5" ><a href="http://alignedleft.com/tutorials/d3/binding-data" target="_blank">binding-data</a></li>
<li style="z-index:98.5" ><a href="http://datajournalismhandbook.org/1.0/en/getting_data_3.html" target="_blank">getting_data</a></li>
<li style="z-index:98.5" ><a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API" target="_blank">Canvas</a></li>
<li style="z-index:98.5" ><a href="https://github.com/d3/d3/blob/master/CHANGES.md" target="_blank">d3.v4 changes</a></li>
<li style="z-index:98" ><a href="https://github.com/d3/d3/blob/master/API.md" target="_blank">D3js APIs</a></li>
</ul>
</li> 

<li style="z-index:98;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Javascript &nbsp;&nbsp;<span class="caret"></span></a>
<ul class="dropdown-menu"> 
<li style="z-index:98" ><a href="http://jqueryui.com" target="_blank">jQueryUI</a></li>
<li style="z-index:98" ><a href=" http://jquery.com/" target="_blank">jQuery</a></li>
<li style="z-index:98" ><a href="https://jsbin.com" target="_blank">JS Bin</a></li>
<li style="z-index:98" ><a href="https://developer.mozilla.org/en-US/docs/Web/API" target="_blank">JavaScript APIs</a></li> 
</ul></li>  

<li style="z-index:10 ;"><a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Datasets &nbsp;&nbsp;</a> <span class="caret"></span>
<ul>
<li style="z-index:10 ;"><a href="http://www.icpsr.umich.edu/icpsrweb/ICPSR/index.jsp" target="_blank">ICPSR Datasets</a></li>
<li style="z-index:10 ;"><a href="http://data.imf.org/?sk=7CB6619C-CF87-48DC-9443-2973E161ABEB" target="_blank">Datasets IMF</a></li>
</ul></li>
 

<li style="z-index:9;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Validators &nbsp;&nbsp;</a>
<ul >
<li style="z-index:9;"><a href="https://stats.idre.ucla.edu/other/dae/" target="_blank">Validators </a><span class="caret"></span></li>
<li><a href="http://validator.w3.org" target="_blank">HTML validator</a></li>
<li><a href="http://jigsaw.w3.org/css-validator/" target="_blank">CSS validator</a></li>
<li><a href="http://jsonlint.com/" target="_blank">JSON Validator</a></li>
</ul>
</li>

<li style="z-index:1;"><a href="http://html-color-codes.info/" target="_blank">Color Codes</a></li>
<li style="z-index:1;"><a href="https://inkscape.org/en/" target="_blank">Inkscape</a></li>
<li style="z-index:1;"> <a href="https://v4-alpha.getbootstrap.com" target="_blank">Bootstrap</a></li>
<li style="z-index:1;"><a href="http://www.dynamicdrive.com/" target="_blank">Dynamic Drive</a></li>
<li style="z-index:1;"><a href="http://php.net" target="_blank">PHP.net</a></li>
<li><a href="http://www.useit.com/" target="_blank">Jakob Nielson</a></li>
<li><a href="http://www.alistapart.com/" target="_blank">A List Apart</a></li>
<li><a href="http://codepen.io/" target="_blank">codepen.io</a></li>
<li><a href="http://www.sitepoint.com/" target="_blank">sitepoint</a></li> 
<li  ><a href="http://www.kaggle.com" target="_blank">Kaggle</a></li>
<li><a href="http://plnkr.co/" target="_blank">Plunker</a></li>
<li><a href="https://github.com" target="_blank">GitHub</a></li>
<li><a href="https://gist.github.com/" target="_blank">Gist<small>GitHub</small></a></li>
<li><a href="http://stackoverflow.com" class="last" target="_blank">Stack Overflow</a></li>
<li><a href="https://www.torproject.org/" target="_blank">Tor</a></li>
<li><a href="https://www.virtualbox.org/" target="_blank">Virtual Box</a></li>

    </ul>
    </li>
<li class="nav-item active"><a  class="nav-link"><span class="caret">Tools</span><br /> </a>
<ul>

<li style="z-index:101;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats &nbsp;&nbsp;</a>  <span class="caret"></span>
<ul >
<li style="z-index:101;"><a href="https://stats.idre.ucla.edu/other/dae/" target="_blank">Stats</a></li>
<li style="z-index:101;"><a href="http://openrefine.org/" target="_blank">OpenRefine</a></li>
<li style="z-index:102;"><a href="http://statacumen.com" target="_blank">Stat Acumen</a></li>
<li style="z-index:102;"><a href="http://www.mapageweb.umontreal.ca/durandc/" target="_blank">Montreal Stats</a></li>
</ul></li> 


<li style="z-index:12;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SQL &nbsp;&nbsp; </a> <span class="caret"></span>
<ul>
 <li style="z-index:12;"><a  target="_blank">MySQL &nbsp;&nbsp;</a></li>   
<li style="z-index:12;"><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
<li style="z-index:121;"><a href="http://www.oracle.com/technetwork/developer-tools/apex/overview/index-155186.html" target="_blank">Oracle Express</a></li>
<li style="z-index:121;"><a href="http://iacademy.oracle.com" target="_blank">Application Express</a></li>
</ul></li>  

<li style="z-index:1;"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> R-Project &nbsp;&nbsp; </a>  <span class="caret"></span>
<ul>
<li style="z-index:1;"><a href="https://www.r-project.org/" target="_blank">R-Project </a> 
<li><a href="https://www.rstudio.com/" target="_blank">RStudio</a></li>
<li><a href="https://shiny.rstudio.com/" target="_blank">Shiny</a></li>
<li><a href="http://amsantac.co/blog/en/2015/10/31/qgis-r.html" target="_blank">Open GIS</a></li>
<li><a href="http://www.tableau.com/products/cloud-bi" target="_blank">Tableau </a></li>
</ul></li>
</ul>
</li> 
</ul> 
</div> 
 <form class="form-inline float-right hidden-sm-down"><!--
 <input class="form-control" type="text" id="search" data-action="grow" placeholder="Search">-->
 </form>

 <div  class="slideouticons horizontal slideout">
 <input type="checkbox" id="togglebox" />
 <label for="togglebox" class="mainlabel fa fa-share-alt"></label>

 <div class="iconswrapper">
 <ul>
 <li><a href="https://twitter.com/ThomasMaestas" target="_blank" class="fa fa-twitter" title="Twitter"></a></li>
 <li><a href="https://facebook.com/thomas.maestas.16" target="_blank" class="fa fa-facebook" title="Facebook"></a></li>
 <li><a href="https://plus.google.com/+thomasmaestas2017" target="_blank" class="fa fa-google-plus" title="Google Plus"></a></li>
 <li><a href="https://www.instagram.com/thomasmaestas/" target="_blank" class="fa fa-instagram"></a></li>
 </ul>
 </div>
 </div>

 

 <li class="nav-item ml-2">

 <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">

 <img class="rounded-circle profile"  src="image/profile.jpg"/>

 </button>

 </li>
 

    <ul class="nav navbar-nav hidden-xs-up" id="js-popoverContent">
      <li class="nav-item"><a class="nav-link" href="#" data-action="growl"> </a></li>
      <li class="nav-item title" id="title"><a class="nav-link" href="login/index.html"> </a></li>
    </ul>
 
</nav>
</div>
<div class="media">
  <img class="d-flex align-self-start mr-3" alt="ancientscienceTbullet">
  <div class="media-body">
    <h5 class="mt-0">Top-aligned media</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div>
<div>
<ul class="list-unstyled">
  <li class="media">
    <img class="d-flex mr-3"  alt="ancientscienceTbullet">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media my-4">
    <img class="d-flex mr-3"  alt="ancientscienceTbullet">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img class="d-flex mr-3"  alt="ancientscienceTbullet">
    <div class="media-body">
      <h5 class="mt-0 mb-1">List-based media object</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>